.tablePicker {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tablePicker__title {
  width: 100%;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}
.tablePicker__imageMapper {
  width: 650px;
  height: 350px;
}

.tablePicker__tableInfo {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.tablePicker__button {
  font-size: 1.1rem;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  color: black;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
}
.tablePicker__tableName {
  color: rgba(13, 202, 13, 0.822);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1rem;
}
